body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-image: url(https://t4.ftcdn.net/jpg/06/57/20/69/360_F_657206985_7JnPZxrSIP9L6Pk3dyf9i8ljFEpv8iqZ.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #e9fe75;
}
header {
    padding: 50px;
}
button {
    padding: 10px 20px;
    font-size:18px;
    background-color:#ff4f00;
    color:rgb(14, 12, 12);
    border:none;
    cursor:pointer;
    transition:0.3s ease, transform 0.2s ease; /* Added missing 's' unit */
}
p {
    color:rgb(40, 187, 187)
 }

button:hover
 {    background-color: #ff7e5f;
    transform: scale(1.1);
}
