body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #ff6a5f, #e9fe75);
    color:yellow;
}
header {
    padding: 50px;
}
button {
    padding: 10px 20px;
    font-size:18px;
    background-color:#ff4f00;
    color:rgb(14, 12, 12);
    border:none;
    cursor:pointer;
    transition:0.3s ease, transform 0.2s ease; /* Added missing 's' unit */
}
p {
    color:white
 }

button:hover
 {    background-color: #ff7e5f;
    transform: scale(1.1);
}
